<div *ngIf="transaction">
    <div *ngIf="transaction.id" class="p container " dir="auto">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="text-right panel-heading">
                            <div>
                                <label for="id" i18n="@@stc1">Transaction number : </label>
                                <span id="id">{{transaction.id}}</span>
                            </div>
                            <div >
                                    <label for="clientPhone" i18n="@@stc2">Client Phone : </label>
                                    <span id="clientPhone">{{transaction.clientPhone}}</span>
                                </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed" >
                                    <thead>
                                        <tr>
                                            <td i18n>Item</td>
                                            <td class="text-center" i18n>Quantity</td>
                                            <td class="text-center" i18n>Price</td>
                                            <td class="text-right" i18n>Totals</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of transaction.product">
                                            <td><strong>{{product.name}}</strong> </td>
                                            <td class="text-center"><strong>{{product.quantity}} </strong> </td>
                                            <td class="text-center"><strong>{{product.s_price | number}} </strong> </td>
                                            <td class="text-right"><strong>{{product.totals | number}} </strong> </td>
                                        </tr>
                                        <tr>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line text-center" i18n>Total</td>
                                            <td class="thick-line text-right"><strong>{{transaction.total | number}}</strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <caption class="form-inline">{{transaction.date | date : 'd/MM/yy, h:mm a'}}</caption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button i18n="@@stc4">print</button>
    </div>
        
    <div *ngIf="!transaction.id" class="p container" dir="auto">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="text-right panel-heading" i18n="@@12">
                        Only these quantities exist from the following products :
                    </div>
                    <div class="panel-body">
                        <div  class="table-responsive">
                            <table class="table table-condensed" >
                                <thead>
                                    <tr>
                                        <td><strong i18n>Item</strong></td>
                                        <td class="text-center"><strong i18n>Quantity</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of transaction.product">
                                        <td>{{product.name}}</td>
                                        <td class="text-center">{{product.quantity}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center" *ngIf="!transaction">
    <span i18n="@@stc3">doesn't exist</span> {{goTo}}
</div>

