
<form #MyForm="ngForm"> 
    <div class="row" *ngIf="names" dir="auto">
        <div class="col">
            <div class="list-group-item " >
                <label for="clientPhone" i18n>Client Phone:</label>
                <input class="form-control" type="text" name="clientPhone" id="clientPhone" [(ngModel)] = "transaction.clientPhone" i18n-placeholder placeholder="enter phone number" #clientPhone="ngModel" required pattern="[2-4]{1}[0-9]{7}">
            </div>
            <div class="p container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div *ngIf="names" class="table-responsive">
                                    <table class="table table-condensed" >
                                        <thead>
                                            <tr>
                                                <td i18n>Item</td>
                                                <td class="text-center" i18n>Quantity</td>
                                                <td class="text-center" i18n>Price</td>
                                                <td class="text-right" i18n>Totals</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                            <tr *ngFor="let name of names">
                                                <td><strong>{{transaction.product[name].name}}</strong> </td>
                                                <td class="text-center"><strong>{{transaction.product[name].quantity}}</strong></td>
                                                <td class="text-center"><strong>{{transaction.product[name].s_price | number}}</strong></td>
                                                <td class="text-right"><strong>{{transaction.product[name].total() | number}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center" i18n>Total</td>
                                                <td class="thick-line text-right"><strong>{{transaction.totals() | number}}</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row" >
                <div class="p form-inline" *ngFor="let name of names" [hidden]="hidden[name]" >
                    <div class="col" >
                        <label for="product" i18n>product:</label>
                        <input class="form-control" type="text" id="product" name="product" [(ngModel)] = "transaction.product[name].name" i18n-placeholder placeholder="enter name"  required>    
                        </div>
                        <div class="col" >
                                <label for="quantity" i18n>quantity:</label>
                                <input class="form-control" type="number" id="quantity" name="quantity" [(ngModel)] = "transaction.product[name].quantity" i18n-placeholder placeholder="enter quantity" required>
                        </div>
                        <div class="col" >
                            <label for="quantity" i18n>price:</label>
                            <input class="form-control" type="number" id="price" name="price" [(ngModel)] = "transaction.product[name].s_price" i18n-placeholder placeholder="enter price" required>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>

<div class=" row" >
    <div class="col">
            <button class="btn-info btn btn-block" (click)="showName()" i18n>add</button>
    </div>
    <div class="col">
            <button class="btn btn-block" (click)="deleteName()" i18n>delete</button>
    </div>
</div>

<div class="list-group-item row">
        <button class="btn-success btn btn-block" (click)="onSubmit()" [disabled]="!(names.length>0 && !MyForm.invalid)" i18n>Submit</button>
</div>