  <div>
      <label for="clientPhone">Client Phone:</label>
      <input type="text" id="clientPhone" [(ngModel)] = "transaction.clientPhone" >
  </div>
  <div *ngIf="names">
      <div *ngFor="let name of names">
          <label for="product">product:</label>
          <input type="text" id="product" [(ngModel)] = "transaction.product[name].name" >
          <label for="quantity">quantity:</label>
          <input type="number" id="quantity" [(ngModel)] = "transaction.product[name].quantity">
          <div>{{name}}{{ transaction.product[name].name}} </div>
      </div>
  </div>


<button (click)="showName()">add</button>
<button (click)="deleteName()">delete</button>
<button (click)="onSubmit()">Submit</button>


