<div class="col" dir="auto">
  <div class="container">
    <ul class="list-group" >
      <li class="list-group-item" ><a class="btn btn-default btn-block btn-info mybutton" routerLink="/transaction" i18n>Transaction</a></li>
      <li class="list-group-item" ><a class="btn btn-default btn-block btn-info" routerLink="/product" i18n>Product</a></li>
      <li  class="list-group-item" ><a class="btn btn-default btn-block btn-info" routerLink="/lqproduct" i18n>Low Quantity Products</a></li>
      <li  class="list-group-item" ><a class="btn btn-default btn-block btn-info" routerLink="/others" i18n="@@hc1">Other Services</a></li>
    </ul>
  </div>
</div>

<router-outlet dir="auto"></router-outlet>
